<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>질문리스트 입니다.</title>
</head>
<body>
테스트 중입니다.<br>
일단은 잘되고 있습니다.<br>
열심히 해 봅시다. <br>
<br><br><br><br><br>


<style>
    table {
        border-collapse: collapse; /* 이중 선을 하나의 선으로 합쳐줍니다 */
    }
    th, td {
        border: 1px solid black;
    }
</style>

<table>
    <thead>
    <tr>
        <th>제목</th>
        <th>작성일시</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="question : ${questionList}">

        <td>
            <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
        </td>
        <td th:text="${question.createDate}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>